.logo-container {
  display: flex;
  align-items: center;
}

.logo-title {
  color: var(--neutral-900);
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.8px;
  margin-left: 16px;
}

