.sign-up-page-section {
  margin-top: 80px;
}

.sign-up-page-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-page-form {
  max-width: 311px;
  padding: 40px 16px;
  margin-top: 32px;
  background: var(--neutral-0);
  border-radius: 16px;
  box-shadow: 0px 8px 16px 0px rgba(32, 37, 41, 0.08);
  @media screen and (min-width: "786px") {
    padding: 40px 32px;
    margin-top: 48px;
    max-width: 466px;
  }
}

.sign-up-page-form-title {
  color: var(--neutral-900);
  margin-bottom: 8px;
}

.sign-up-page-form-text {
  margin-bottom: 32px;
  color: var(--neutral-600);
}
